@import "./colors.scss";
@import "./layout.scss";

.app-navbar {
    display: flex;
    width: 100%;

    a {
        padding: 0 $base-padding;
        margin: 0 $base-padding;
        font-size: $title-font-size;

        .mat-icon {
            font-size: $title-font-size;
            height: 100%;
            width: 100%;
        }
    }

    .mat-mdc-tab-link .mdc-tab__text-label {
        color: $white-color;
    }

    .flag {
        font-size: $main-font-size;
        cursor: pointer;
    }
}

@media screen and (max-width: 960px) {
    .app-navbar {
        padding: 0;

        a {
            padding: 0;
        }
        
        .flag {
            font-size: $description-font-size;
        }
    }
}