$main-dark-blue-color: #023047;
$alternative-dark-blue-color: #1d3557;
$main-light-blue-color: #219ebc;
$alternative-light-blue-color: #8ecae6;
$yellow-color: #ffb703;
$orange-color: #fb8500;
$black-color: #000;
$white-color: #fff;
$border-light-color: #dee2e6;