$black-color: #000;
$white-color: #fff;
$main-light-color: #f5f4f4;
$main-dark-color: #1d3557;
$alternative-dark-blue-color: #1d3557;
$main-light-blue-color: #219ebc;
$alternative-light-blue-color: #8ecae6;
$border-light-color: #dee2e6;
$main-text-color: $white-color;
$highlighted-text-color: #f44336;