$base-padding: 8px;
$base-padding-2x: $base-padding * 2;
$base-padding-3x: $base-padding * 3;
$base-padding-4x: $base-padding * 4;

$border-width: 1px;

$main-font-size: 36px;
$field-value-font-size: 32px;
$title-font-size: 48px;
$description-font-size: 26px;