<sw-card class="homepage" [title]="'homepage.title'">
  <div content class="homepage__container">
      <img [src]="image.path" [alt]="image.alt"/>
      <div class="homepage__container_text">
          <div class="homepage__container_text--active">{{'homepage.aboutMe.part1' | translate}}</div>
          <div>{{'homepage.aboutMe.part2' | translate}}</div>
          <div>{{'homepage.aboutMe.part3' | translate}}</div>
          <div>{{'homepage.aboutMe.part4' | translate}}</div>
      </div>
  </div>
  <div footer>
    <div>{{'homepage.aboutMe.part5' | translate}}</div>
  </div>
  <div below>
    <sw-bubbles [numberOfBubbles]="15"></sw-bubbles>
  </div>
</sw-card>
