@use "../../layout.scss";
@use "../../colors.scss";

.homepage {
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            margin: layout.$base-padding 0;
        }

        &_text {
            color: colors.$main-text-color;
            font-size: layout.$main-font-size;
            max-width: 500px;
            word-break: normal;
            letter-spacing: normal;
            line-height: normal;
            padding: 0 layout.$base-padding-3x;

            &--active {
                color: colors.$highlighted-text-color;
            }
        }
    }

    img {
        width: 300px;
        height: 300px;
        border-radius: 25%;
        padding: layout.$base-padding;
    }
}

@media screen and (max-width: 960px) {
    .homepage {
        &__container {
            margin-top: layout.$base-padding-2x;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        img {
            width: 150px;
            height: 150px;
        }
    }
}