@switch (type) {
    @case ('raised') {
        <button mat-raised-button [color]="color" [disabled]="disabled" [ngClass]="class" (click)="click()">{{label | translate}}</button>
    }
    @case ('flat') {
        <button mat-flat-button [color]="color" [disabled]="disabled" [ngClass]="class" (click)="click()">{{label | translate}}</button>
    }
    @case ('stroked') {
        <button mat-stroked-button [color]="color" [disabled]="disabled" [ngClass]="class" (click)="click()">{{label | translate}}</button>
    }
    @default {
        <button mat-button [color]="color" [disabled]="disabled" [ngClass]="class" (click)="click()">{{label | translate}}</button>
    }
}