@use "../../colors.scss";
@use "../../layout.scss";

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: colors.$highlighted-text-color;
    padding: layout.$base-padding;

    .mat-mdc-card {
        background-color: transparent;
        padding: layout.$base-padding-2x;
        border-width: 1px;
    }

    .mat-mdc-card-title, .mat-mdc-card-subtitle {
        font-size: layout.$main-font-size;
    }
}

@media screen and (max-width: 960px) {
    .card {
        padding: 0;
    }
}