@use "../../colors.scss";
@use "../../layout.scss";

.card-field {
    display: flex;
    margin: layout.$base-padding-4x layout.$base-padding;

    &__label-container {
        display: flex;
        flex-direction: column;
        margin-right: layout.$base-padding;
    }

    &__label {
        color: colors.$main-text-color;
        font-size: layout.$main-font-size;

        &-description {
            font-size: layout.$description-font-size;
            color: colors.$border-light-color;
        }
    }

    &__value {
        color: colors.$highlighted-text-color;
        font-size: layout.$field-value-font-size;
    }
}