@import "../../colors.scss";
@import "../../layout.scss";

.card {
    color: $highlighted-text-color;
    padding: $base-padding;

    .mat-mdc-card {
        background-color: transparent;
        padding: $base-padding-2x;
        border-width: 1px;
    }

    .mat-mdc-card-title, .mat-mdc-card-subtitle {
        font-size: $main-font-size;
    }
}