/* You can add global styles to this file, and also import other style files */

@import "./app/styles/app.component.scss";
@import "./app/styles/pages/main-app/main-app.component.scss";
@import "./app/styles/pages/about-me/about-me.component.scss";
@import "./app/styles/colors.scss";
@import "./app/styles/layout.scss";
@import "./app/styles/components/core/card.component.scss";

html {
    // max-width: 70ch;
    padding: 1em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    background-color: $main-dark-blue-color;
    // min-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
}

nav,p,ul,ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
