/* You can add global styles to this file, and also import other style files */

@use "app/styles/app.component.scss";
@use "app/styles/pages/main-app/main-app.component.scss";
@use "app/styles/pages/pizza-calculator/pizza-calculator.component.scss";
@use "app/styles/colors.scss";
@use "app/styles/layout.scss";
@use "app/styles/components/core/card.component.scss";
@use "app/styles/components/core/card-field.component.scss";
@use "app/styles/components/visuals/bubbles.component.scss";

html {
    padding: 1em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    //background: linear-gradient(0deg, #04fafd, 5%, #119dff, 50%, #030423);
    background-color: colors.$main-dark-color;
}

h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
}

nav,p,ul,ol {
    margin-bottom: 2em;
    font-family: sans-serif;

    .app-navbar .mat-mdc-tab-link .mdc-tab__text-label {
        color: colors.$main-text-color !important;
    }

    .mat-mdc-tab-link:hover .mdc-tab__text-label {
        color: colors.$main-text-color !important;
    }

    .mat-mdc-tab-link.mdc-tab--active .mdc-tab__text-label {
        color: colors.$main-text-color !important;
    }

    .mat-mdc-tab-link.mdc-tab--active:hover .mdc-tab__text-label {
        color: colors.$highlighted-text-color !important;
    }
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: colors.$highlighted-text-color !important;
    color: colors.$highlighted-text-color !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loader-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid colors.$highlighted-text-color;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 960px) {
    html {
        padding: layout.$base-padding;
    }

    html, body {
        height: fit-content;
    }

    .loader-wrapper {
        height: 100vh;
    }
}